@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
$grey2: #4F4F4F;
$grey3: #828282;

@function rem-calc($size) {
  $remSize: $size / 14;
  @return #{$remSize}rem;
}

body{
  background-color: #000;
}

* {
  font-family: 'Montserrat';
  letter-spacing: 0.03rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  position: fixed;
  top: 3rem;
  width: 20rem;
  height: auto;
  z-index: 5;
  transition: left 1s;
}

.schedule-cards-container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  transition: top 1s;

  .schedule-card {
    margin-right: rem-calc(1);

    &:last-child {
      margin: 0;
    }
  }
}

.schedule-card {
  width: rem-calc(431);
  height: rem-calc(176);
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .title {
    font-size: rem-calc(32);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
  }

  .opendays, .openhours {
    font-size: rem-calc(18);
    font-weight: 500;
    color: $grey2;
  }

  .openhours {
    color: $grey3;
    font-size: rem-calc(16);
    text-transform: uppercase;
  }

  .price-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 5rem;
    position: absolute;
    bottom: 1rem;

    .price {
      font-size: rem-calc(12);
      color: $grey2;
      text-transform: uppercase;
    }
  }
}

.slideOne {
  height: 100vh;
  background-color: #000;

  .back {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 2s;
  }
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: rem-calc(1268);
  margin-bottom: 12rem;

  .southwest-map {
    height: rem-calc(443);
    width: auto;
    transition: opacity 5s;

    .nigerian-state {
      transition: opacity 1s;

      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }
  }

  .map-writeup {
    color: white;
    width: rem-calc(690);
    text-align: center;
    position: relative;
    transition: left 2s;

    .title {
      font-size: rem-calc(32);
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0.7rem;
    }

    .body {
      font-size: rem-calc(16);
      line-height: rem-calc(34);
    }
  }
}

.popular-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem-calc(1295);
  margin: auto;
  margin-bottom: 2rem;
  transition: opacity 3s;

  .title {
    font-size: rem-calc(32);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
  }

  .attraction-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.attraction-card {
  display: flex;
  width: rem-calc(629);
  height: rem-calc(390);
  background-color: white;
  flex-direction: column;
  margin-bottom: 3rem;

  .image-card {
    height: rem-calc(316);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .image-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    p {
      text-transform: uppercase;
      font-weight: bold;
      font-size: rem-calc(16);
    }
  }
}

.family-card {
  width: rem-calc(1295);
  margin: auto;
  margin-bottom: 2rem;

  .write-up {
    text-align: center;
    background-color: white;
    padding: 2rem;
    
    .title {
      font-size: rem-calc(32);
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    .body {
      font-size: rem-calc(16);
      line-height: rem-calc(34);
    }
  }

  .family-image {
    height: rem-calc(446);
    background-image: url('./images//family.jpg');
    background-size: cover;
    background-position: center;
  }
}

footer {
  margin: auto;
  width: rem-calc(1295);
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  font-size: rem-calc(16);
  font-weight: 500;
  padding: 2rem 0;
  text-transform: uppercase;

  .socials {
    display: flex;

    img {
      margin-right: 4rem;
      height: rem-calc(28);
      width: auto;
    }
  }
}
